@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

div#top-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background: #ffffff10;
  padding: 0.7rem 1rem;
  margin: 1rem 0 0 0;
  border-radius: 0.5rem;
  align-items: center;
  gap: 1rem;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #3c3c3c;
  color: #eee;
  font-size: 16px;
  font-family: NeueMachina;
}

div#root-layout {
  max-width: 1200px;
  margin: 0 auto;
}

#top-bar nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: inherit;
}

input#nav-search {
  flex-grow: 1;
}

aside#sidebar {
  position: absolute;
  background: green;
  min-width: 250px;
  padding: 1rem 0.5rem;
}

div#main-row {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar__header-text {
  /* display: flex; */
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
}

header.sidebar__header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

section.sidebar-section {
  margin-bottom: 1rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ffffff44;
  padding-top: 0;
}

span.sidebar__header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
  line-height: 1;
  background: red;
}

article.sidebar-widget + article.sidebar-widget {
  margin: 1rem -0.5rem;
  border-top: 1px solid #ffffff22;
  padding: 0 0.5rem;
}

h6.widget__header-text {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

section.sidebar-section + section.sidebar-section {
  border: none;
  margin-bottom: 0;
}

aside#sidebar.visible {
  right: 0;
}

aside#sidebar.hidden {
  right: -100vw;
}

li.pkmn-li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 0 0.5rem;
}

ul {
  padding: 0;
}

img.pkmn-li__image {
  width: 1em;
  height: 1em;
  font-size: 7rem;
}

p.pkmn-li__name {
  font-size: 1rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.4rem;
}

.pkmn-li__secondary-col {
  margin-inline-start: auto;
}

p.pkmn-li__desc {
  font-size: 0.7rem;
  opacity: 0.7;
}

.pkmn-li__image-wrapper {
  width: 1em;
  height: 1em;
  font-size: 6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 0.4rem;
}

p.pkmn-li__number {
  font-size: 1.2rem;
  text-align: end;
  margin: 0;
  opacity: 0.6;
}

.pkmn-li__types {
  display: flex;
  gap: 0.2rem;
  /* flex-direction: column; */
}

header#header-n2bl {
  position: relative;
}

span#header__national {
  font-size: 0.6rem;
  letter-spacing: 1.4px;
  font-style: italic;
  position: absolute;
  top: -0.3rem;
  left: 0;
  opacity: 0.85;
}

span#header__pokedex {
  font-size: 1.8rem;
  letter-spacing: -1px;
}

span#header__made-by {
  position: absolute;
  bottom: -0.3rem;
  right: 0;
  font-size: 0.6rem;
  font-style: italic;
  letter-spacing: 0.6px;
  opacity: 0.7;
}

span#header__o {
  position: relative;
}

span#header__o:after {
  position: relative;
  width: 10px;
  height: 10px;
  display: inline-block;
  content: "-";
  border-bottom: 0.2rem solid white;
  border-left: 0.2rem solid white;
}
